@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');

* {
	box-sizing: border-box;
}

:root {
	--font-body: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--color-bg-0: #4477F9;
	--color-bg-1: #249FAF;
	--color-border: rgb(255, 255, 255);
	--color-success: rgb(75, 194, 31);
	--color-failed: rgb(201, 57, 57);

	
	font-family: var(--font-body);
	color: var(--color-text);
}

body {
	min-height: 100vh;
	margin: 0;
	background-attachment: fixed;
	background-color: var(--color-bg-0);
	background-size: 100vw 100vh;
	background-image: linear-gradient(135deg, var(--color-bg-0) 0%, var(--color-bg-1) 100%);
	color: #FFFFFF;
	font-size: 14px;
	font-family: 'Quicksand', sans-serif;
}

h1,
h2,
p {
	font-weight: 400;
}

p {
	line-height: 1.5;
}

a {
	color: var(--color-theme-1);
	text-decoration: underline;
}

button:hover {
	cursor: pointer;
}

h1 {
	font-size: 2rem;
	text-align: center;
}

h2 {
	font-size: 1rem;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--color-text);
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

button, a.button {
	color: #FFFFFF;
	background-color: transparent;
	border: none;
	padding: 1rem 3.4rem 1rem 1rem;
	font-size: 1.4rem;
	line-height: 1.4rem;
	border-radius: 1rem;
	position: relative;
}

button::after, a.button::after {
	position: absolute;
	content: ' ';
	display: inline-block;
	margin-left: 1rem;
	background: url('/src/lib/images/arrow-right.svg');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	width: 1.4rem;
	height: 1.4rem;
	right: 1rem;
	transition: right 0.2s ease-in-out;
}

button:hover::after, a.button:hover::after {
	right: 0.5rem;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}

section {
	max-width: 1500px;
}